html, body, .full-height {
  height: 100%;
}

.block {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: gray;
  opacity: 0;
}

.container {
  width: 100%;
  position: relative;
}

.column {
  width: 1%;
  display: inline-block;
  background-color: yellow;
  border-right: 1px solid #000;
}