body {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #34495e;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  line-height: 40px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #ecf0f1;
  height: 15%;
  overflow: hidden;
}

.visible {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.visible:before {
  content: '[';
  left: 0;
  line-height: 40px;
}
.visible:after {
  content: ']';
  position: absolute;
  right: 0;
  line-height: 40px;
}
.visible:after, .visible:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  animation: 2s linear 0s normal none infinite opacity;
}

p {
  display: inline;
  margin: 0;
}

ul.honor {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  animation: 8s linear 0s normal none infinite change;
}

ul.honor li {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 20%, 100% {
    transform: translateY(-33.7%);
  }
  25%,45% {
    transform: translateY(-67%);
  }
  50%,70% {
    transform: translateY(-100%);
  }
  75%,95% {
    transform: translateY(-67%);
  }
}

#detail {
  line-height: 40px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

#left-container,
#right-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#left-container {
  width: 70px;
}

#right-container {
  width: 529px;
  overflow: hidden;
  border-left: 2px gray solid;
}

#websites-container {
  height: 400px;
  padding: 100px 0 0 0;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.websites-ele {
  width: 700px;
  height: 30px;
  padding: 3px 4px 3px 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px
}

.websites-ele {
  display: inline-block;
}

.websites-ele img {
  width: 20px;
  height: 20px;
}

#skills-container  {
  width: 700px;
  margin-left: 20px;
}

#skills-container * {
  color: #f8c2ce;
}

#skills-container .skills-detail {
  color: #fcf380;
}

#career-container {
  margin-left: 20px;
}

#career-container * {
  color: #fba77a;
}

#career-container .career-detail {
  color: #cee6e9;
}