<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image" href="http://blog.xhu.me/assets/images/x-billabong.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>{{ .title }}</title>

    {{ if .prd }}
      <link href="/assets/bundle.css" rel="stylesheet">
    {{ end }}

  </head>
  <body>
    <div id='homepage' class='full-height'/>

    {{ if .prd }}
      <script src="/assets/bundle.js"></script>
    {{ else }}
      <script src='http://localhost:6789/assets/bundle.js'></script>
    {{ end }}

  </body>
</html>