<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="xhu(胡旭), senior software engineer of DiDiChuxing, working as a programmer and fighter!">
    <meta name="viewport" content="width=device-width">
    <title>{{ .title }}</title>

    <link rel="shortcut icon" type="image" href="https://img.xhu.me/blog/x-billabong.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>

  <style>

  html,
  body,
  .full-height {
    width: 100%;
    height: 100%
  }

  * {
    margin: 0;
    padding: 0;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  }

  a {
    text-decoration: none;
  }

  * {
    font-size: 14px;
  }

  @media (max-width: 1600px) {
    * {
      font-size: 12px;
    }
  }

  @media (max-width: 900px) {
    * {
      font-size: 10px;
    }
  }

  @media (max-width: 680px) {
    * {
      font-size: 9px;
    }
  }

  </style>

  <body>
    <div id='homepage' class='full-height'/>

    {{ if .prd }}
      <script src="/assets/bundle.js"></script>
    {{ else }}
      <script src='http://localhost:6789/assets/bundle.js'></script>
    {{ end }}

  </body>
</html>